body {
  color: white;
  padding: 2em;
  font-family: "Helvetica";
  background: rgb(32, 0, 53);
  background: linear-gradient(
    135deg,
    rgba(32, 0, 53, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

h1 {
  text-align: center;
}

#projects-section {
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  margin: 2em auto;
  margin-left: 1em;
}
#projects-header {
  text-align: center;
}
.project-title {
  text-align: center;
  font-weight: bold;
}

.project-body {
  display: flex;
  gap: 8px;
}


